extends extends/_layout

block content
	.score
		.row
			.col-10.col-offset-1
				.score__box
					.col-5
						.score__board
							.score__board-big
								img.score__board-big__img(src='./images/board_big.png', alt="Доска для серфа")
							.score__board-small
								a.score__board-small__img(style="background-image: url(./images/board_small-1.png)")
								a.score__board-small__img(style="background-image: url(./images/board_small-2.png)")
								a.score__board-small__img(style="background-image: url(./images/board_small-3.png)")
								a.score__board-small__img(style="background-image: url(./images/board_small-4.png)")
					.col-5
						.score__info
							.score__info-name
								.score__info-name__board JR Surfboards The Donny Stoker Yellow/Green Rail Fade
								.score__info-name__rating
									a.rating-star--yellow(href="#")
									a.rating-star--white(href="#")
									a.rating-number(href="#") (52)
							.tabs.js-tabs
								.tabs__toggles
									.tabs__toggle.js-tabs-toggle Description
									.tabs__toggle.js-tabs-toggle Features
									.tabs__toggle.js-tabs-toggle Dimensions
								.tabs__tab.js-tabs-tab Easy to ride, care free surfing craft that's fun for everyone, paddles well, super fast down the line and great for any level of surfing depending on who rides it. The Donny Stoker, a rework on design from stokesys first ever pro model. A super easy to surf and fun board. The Donny Stoker is a board for total freesurfing expression.
								.tabs__tab.js-tabs-tab Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim. Pellentesque congue. Ut in risus volutpat libero pharetra tempor. Cras vestibulum bibendum augue. Praesent egestas leo in pede. Praesent blandit odio eu enim. Pellentesque sed dui ut augue blandit sodales.
								.tabs__tab.js-tabs-tab The size: 8'6 x 33 x 4.75
							//- .score__tabs
							//- 	.score__tabs-link
							//- 		.score__tabs-link__title.tabs_link--active Description
							//- 		.score__tabs-link__title Features
							//- 		.score__tabs-link__title Dimensions
							//- 	.score__tabs-block
							//- 		.score__tabs-block__content.visible
							//- 			| Easy to ride, care free surfing craft that's fun for everyone, paddles well, super fast down the line and great for any level of surfing depending on who rides it. The Donny Stoker, a rework on design from stokesys first ever pro model. A super easy to surf and fun board. The Donny Stoker is a board for total freesurfing expression.
							//- 		.score__tabs-block__content
							//- 			| Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim. Pellentesque congue. Ut in risus volutpat libero pharetra tempor. Cras vestibulum bibendum augue. Praesent egestas leo in pede. Praesent blandit odio eu enim. Pellentesque sed dui ut augue blandit sodales.
							//- 		.score__tabs-block__content
							//- 			| The size: 8'6 x 33 x 4.75
							.score__sale
								.score__sale__price $499.99
								a.score__sale__sell(href="#") Buy now
								a.score__sale__more(href="#") View all boards
	.offer
		.row.offer__box
			.offer__box-promo
				.offer__box-promo__name We are Surfers co.
				.offer__box-promo__text Lorem ipsum dolor sit amet, aeneam consectetur adipiscing elit. Fusce iaculis feugiat arcunum fermentum hendrerit. Suspendisse auctor labor nisi, et interdum diam facilisis, aliquam pulvinar semi egetis belle sollicitudin ut. Nullam tincidun finibustus scelerisque.
				a.offer__box-promo__link(href="#") Read more
			.offer__box-promo__player
	.cards
		.row.cards__box
			- 
				cards = [
					['./images/card-1.png', 'Taj Burrow', '@tajamos', 'Yallingup, Australia'],
					['./images/card-2.png', 'Malia Manuel', '@maliamanuel', 'Wailua, Hi'],
					['./images/card-3.png', 'Ian Walsh', '@ian.walsh', 'Maui, Hi'],
					['./images/card-4.png', 'Macy Callaghan', '@macyjanecallaghan', 'San Clemente, CA'],
				]
			each item in cards
				.col-3
					.card__wrap
						.card__img(style="background: url("+ item[0] + ")")
							img(src=item[0])
						.card__name=item[1]
						.card__instagram=item[2]
						.card__location=item[3]
	.updates
		.row.updates__box
			-
				update = [
					['./images/updade_img-1.png', 'Ellie Turner and Jobe Harris have taken out the 2016 British National Surf Championships'],
					['./images/updade_img-2.png', 'A large group of surfers invaded the coast of La Jolla Shores, in California, with a single goal in mind'],
					['./images/updade_img-3.png', 'Surfboards are constantly evolving, and there are multiple board designs for a broad range of environments'],
				]
			each item in update
				.col-3
					.updates__wrap
						.updates__img(style="background: url("+ item[0] + ")")
						.updates__text=item[1]
			a.updates__link(href="#") View all posts
	.facebook
		.row.facebook__box
			.col-4
				.facebook__title Facebook
				.facebook__wrap
					.facebooke__page
						.facebook__win Srfrs co
						.facebook__name Surfers Co.
						.facebook__like 52,000 likes
						.facebook__sub
							a.facebook__like-page(href="#") Like Page
							a.facebook__share Share
					.facebook__follower
						.facebook_follower-title You and 8 friends like this
						.facebook_follower-box
							.follower-img(style="background: url(./images/follower-1.png)")
							.follower-img(style="background: url(./images/follower-2.png)")
							.follower-img(style="background: url(./images/follower-3.png)")
							.follower-img(style="background: url(./images/follower-4.png)")
							.follower-img(style="background: url(./images/follower-5.png)")
							.follower-img(style="background: url(./images/follower-6.png)")
							.follower-img(style="background: url(./images/follower-7.png)")
							.follower-img(style="background: url(./images/follower-8.png)")
							.follower-img(style="background: url(./images/follower-9.png)")
	.mosaic
		.row.mosaic__box
			.col-6
				.mosaic__img(style="background: url(./images/mosaic-1.png)")
			.col-6
				.mosaic__img(style="background: url(./images/mosaic-2.png)")
			.col-6
				.mosaic__img(style="background: url(./images/mosaic-3.png)")
			.col-6
				.mosaic__img(style="background: url(./images/mosaic-4.png)")
			.col-12
				.mosaic__footer
					.mosaic__instagram(style="background: url(./images/inst.png)")
					.mosaic__instagram-link @surfersco

